{% extends 'QuizApp/base.html' %}
{% load static %}

   {% block title %}{{form.nm.value}}{% endblock title %}
   
{% block content %}

{% if show %}
{{take}}
{{take2}}
{{show}}
<br>
<a class="text-danger" href="quiz/{{visit.unique}}" class="d" id="3">Share</a>



{% else %}


{% comment %} <input class="btn btn-success" type="button" value="Result"> {% endcomment %}


{% comment %} <form action="" method="post">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Start">
</form> {% endcomment %}
<div class="" id="form">
<input type="text" name="name" id="name">
<button name="start" id="btn" onclick="myfunc(this.id)">Start</button>
</div>








<!--GIVING VALUE TO EVERY PICTURE-->
<div class="container">
<div class="row">
<div class="col-md-12 d" id="1">
<img src="{% static 'QuizApp/images/download2.jpg' %}" id="1a" onclick="myfunc(this.id)"  alt="">
<img src="{% static 'QuizApp/images/download3.jpg' %}" id="1b" onclick="myfunc(this.id)"  alt="">
<img src="{% static 'QuizApp/images/download5.jpg' %}" id="1c" onclick="myfunc(this.id)" alt="">
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-sm-12 d" id="2">
<form method="post">
{% csrf_token %}
<input type="image" src="{% static 'QuizApp/images/images1.jpg' %}" id="2a"  onclick="myfunc2(this.id)"  alt="">
<input type="image" src="{% static 'QuizApp/images/images2.jpg' %}" id="2b"  onclick="myfunc2(this.id)" alt="">
<input type="image" src="{% static 'QuizApp/images/images3.png' %}" id="2c"  onclick="myfunc2(this.id)" alt="">
</form>
</div>
</div>
</div>
{% endif %}
{% comment %} <button onclick="myfunc()">click</button>
 {% endcomment %}

{% endblock content %}
we can't use dtl inside a dynamic url name tag
{% block script %}

<script>

function myfunc(id){
  if (id=="btn"){
    var name=document.getElementById("name").value
     document.cookie="name"+"="+name;
    
     document.getElementById("form").className="d";
     document.getElementById("1").classList.remove("d");
  }
  else{
     document.getElementById("1").className="d";
     var take = document.getElementById("2");
     take.classList.remove("d");
     document.cookie="id1"+"="+id;
    
  }
/*
  {% comment %} document.getElementById("form").className="d"; {% endcomment %}
 

 var take = document.getElementById("form");
 take.classList.remove("d");

 
 document.cookie="id1"+"="+id;
 


    var take1=document.getElementById("name").value;
      document.cookie="id"+"="+take1;
      alert("yay"+document.cookie)
*/
 }

function myfunc2(id){
 document.cookie="id2"+"="+id;
  document.getElementById("2").className="d";
alert("hey")
 var take = document.getElementById("3");
 take.classList.remove("d");
  

 

 }


</script>

{% endblock script %}