{% extends 'QuizApp/base.html' %}
{% load static %}



{% block content %}

{% if show %}

<a href="/"><h3>Create your Own Quiz</h3></a>


<table>

<tr>

<th>Name         </th>
<th>Score</th>

</tr>
{% for result in obj1 %}
<td>{{result.name}}</td>
<td>{{result.score}}</td>
<br>
</table>

{% endfor %}

{% else %}


<div class="" id="form">
<input type="text" name="name" id="name">
<button name="start" id="btn" onclick="myname()">Start</button>
</div>

<div class="container">
<div class="row1">
<div class="col-md-12 d" id="1">
<img class="1" src="{% static 'QuizApp/images/download2.jpg' %}" id="1a" onclick="myfunc(this.className,this.id)"  alt="">
<img class="1" src="{% static 'QuizApp/images/download3.jpg' %}" id="1b" onclick="myfunc(this.className,this.id)"  alt="">
<img class="1" src="{% static 'QuizApp/images/download5.jpg' %}" id="1c" onclick="myfuncthis.className,this.id)" alt="">
</div>
</div>
</div>

<div class="container"> 
<div class="row">
<div class="col-sm-12 d" id="2">
<form method="POST">
{% csrf_token %}
<input type="image" class="2" src="{% static 'QuizApp/images/images1.jpg' %}" id="2a"  onclick="myfunc(this.className,this.id)" alt="">
<input type="image" class="2" src="{% static 'QuizApp/images/images2.jpg' %}" id="2b"  onclick="myfunc(this.className,this.id)"  alt="">
<input type="image" class="2" src="{% static 'QuizApp/images/images3.png' %}" id="2c"  onclick="myfunc(this.className,this.id)" alt="">
</form>
</div>
</div>
</div>








{% comment %} {% endif %} {% endcomment %}
<script>

function myname(){

alert("h")

name=document.getElementById("name").value;
document.cookie="friendname"+"="+name
alert(document.cookie)
document.getElementById("form").className="d";

document.getElementById("1").classList.remove("d")

}

function myfunc(name,id){

var score=0;

var array=["{{obj.q1}}","{{obj.q2}}"]

for (let check of array){
   // check id against given array of correct answer id
   if (id==check){
        alert("correct")
        score=score+1
       for (let i=1;i<3;i++){
        
         //class name
          if(name==i){
         
                  document.getElementById(i).className="d";
                  var take = document.getElementById(i+1);
                  take.classList.remove("d");
 
    }
     
   
    } 
   
    }
    else{
        alert("wrong"+obj.q1+obj.q2)  
        score=score-1
    for (let i=1;i<3;i++){
    if(name==i){
         
  document.getElementById(i).className="d";
  var take = document.getElementById(i+1);
  take.classList.remove("d");

    }
      
    }
    
    }
}
if (score<0){
    score=0

}


}




//To remove first and add second
 

//To remove second and add third
   




</script>



{% endif %}
{% comment %} {% if visit  %}

<button>Delete the Quiz</button>

{% else %} {% endcomment %}


{% endblock content %}



//var take1=document.getElementById("check1").innerHTML;
//if (id==take1){
  /*  alert("correct")
     score=score+1 
    */}
/*else{
    alert("wrong")
  */ }

}

function myfunc2(id){
 

var take2=document.getElementById("check2").innerHTML;
if (id==take2){
    alert("correct")
    document.getElementById("2").className="d";
 var take = document.getElementById("3");
 take.classList.remove("d");

}
else{
    alert("wrong")
    document.getElementById("2").className="d";
 var take = document.getElementById("3");
 take.classList.remove("d");

}
}